<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.parkpro.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.parkpro.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.parkpro.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pesan1Servlet</servlet-name>
        <servlet-class>com.parkpro.servlet.Pesan1Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pesan1Servlet</servlet-name>
        <url-pattern>/Pesan1Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pesan2Servlet</servlet-name>
        <servlet-class>com.parkpro.servlet.Pesan2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pesan2Servlet</servlet-name>
        <url-pattern>/Pesan2Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pesan3Servlet</servlet-name>
        <servlet-class>com.parkpro.servlet.Pesan3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pesan3Servlet</servlet-name>
        <url-pattern>/Pesan3Servlet</url-pattern>
    </servlet-mapping>
</web-app>
